.register {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
}

.register__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.register__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
}

.register__google {
    background-color: #4285f4;
}

.register div {
    margin-top: 7px;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 145vh
  }
}
/*
@media (min-width: 768px) {
  .h-custom {
    height: 250vh
  }
} */
